.StudentAdda{ margin: 0;padding: 0;border: 0;font-size: 15px;vertical-align: baseline;background: transparent;}
body,html {height: 100%;width:100%;overflow: hidden;margin: 0;outline: 0;margin: 0;padding: 0;min-width:initial;}
body .headings{ color: #444;text-align: center;padding: 0.1%;font-family: "Comic Sans MS",cursive,Comic Sans;font-weight: normal;
               font-size: 2em;letter-spacing: 0.07em;color: rgb(162,35,142)}
body .container{ width: calc(80%);margin: 0 calc(10%);box-shadow: -3px 8px 20px 0px rgb(95, 87, 87);border-radius: 1.5em}
.UserImageContainer .ProfilePic{width: 40%;height: 40% ;color: rgb(33, 150, 243);margin-top: 15%;margin-left: 27%;border-radius: 50%;}
.UserImageContainer .ProfilePic :hover{width: 40%;height: 40% ;color: rgb(33, 150, 243);margin-top: 15%;margin-left: 27%;border-radius: 50%;}
.image-upload > input{    display: none;}
.image-upload img{cursor: pointer;}
.announcements{ font-size: 20px;text-align: center;}
.announcements .container li .name{ text-align: left;text-transform: capitalize;font-family:"Comic Sans MS",sans-serif ;
              padding: 18px 0px;margin: 0px;}
.announcements .heading{text-align: center;padding: 0.1%;font-family: "Comic Sans MS",cursive,Comic Sans;font-weight: normal;
               font-size: 2em;letter-spacing: 0.07em;color: rgb(162,35,142)}
.announcements .fontStyle{  font-size: 1em;font-style: italic;
                            font-weight: 100;letter-spacing: 0.05em;color: rgb(1,175,173)}
.announcements .messageStyle{   font-family: "Comic Sans MS",sans-serif;font-size:0.8em;font-style: italic;font-weight: 50;
                               color: rgb(247,166,25);text-transform: capitalize;letter-spacing: 0.04em;}
.announcements .image{width: 4em;height: 4em ;border-radius: 50% }

.announcements .imagepreview{width: 40%;height: 40%;}

.announcements .paragraph{text-align: center;font-family: "Comic Sans MS",cursive,Comic Sans;font-weight: normal;
               font-size: 1.3em;letter-spacing: 0.03em;color: rgb(162,35,142)}

.announcements .deleteSpan{float:right; margin-right: 1.5em;}
.input{ float: left !important;margin-left: 10%;width: 65% !important;border: 0px !important;padding: 5px 0px !important;margin-bottom: 20px !important;}
.AnnounceButton{ box-shadow: 1px 2px 8px 0px black;margin-right: 3% !important; border-radius: 1em !important;
                 background-color: rgb(162,35,142) !important; color: rgb(255,255,255) !important;}
.vertical-scroll{height:101vh;overflow-y: auto; width: 100%;overflow-x: hidden;}
::-webkit-scrollbar { width: 0.4em;border-radius: 0.4em;}
::-webkit-scrollbar-thumb {background-color: darkgrey;border-radius: 0.5em; outline: 0.1em solid slategrey;}
.QuestionPapers .image{width: 100%;height: 50vh}
.QuestionPapers .paper{margin-left:18% !important;width: 60% !important;}
.QuestionPapers .h4{width:100%;text-align: center;}
.QuestionPapers .fetchButton{box-shadow: 1px 2px 8px 0px black;margin-right: 3% !important; border-radius: 1em !important;
                 background-color: rgb(124,109,174) !important; color: rgb(255,255,255) !important;}
.QuestionPapers .button{margin: 0 calc(39%) !important;box-shadow: 1px 2px 8px 0px black;margin-right: 3% !important; border-radius: 1em !important;
                 background-color: rgb(124,109,174) !important; color: rgb(255,255,255) !important;}
.Syllabus .paper {margin-left:18% !important; width: 60% !important;}
.Syllabus .h4{width:100%;text-align: center;}
.Syllabus .fetchButton{box-shadow: 1px 2px 8px 0px black;margin-right: 3% !important; border-radius: 1em !important;
                 background-color: rgb(124,109,174) !important; color: rgb(255,255,255) !important;}
.Syllabus .button{margin: 0 calc(39%);}
.AssignUpload .iframe{width:60%;height: 350px;}
.AssignUpload .Position{text-align: center;}
.AssignUpload .uploadbutton{background-color: #2196F3 !important;color: white!important;border-radius: 1em!important;}
.AssignUpload .paragraph{text-align: center; font-family: "Comic Sans MS",sans-serif;font-size:1.2em;font-style: italic;font-weight: 100;
                         color: rgb(247,166,25);letter-spacing: 0.04em;}
.coachingcentres{}
.coachingcentres .title{text-align: center !important;}
.coachingcentres .card{width:80% !important;margin-left:10% !important;}
.coachingcentres .cardText{text-align: center !important;}
.coachingcentres .rating{text-align: center; font-weight: normal;}
.coachingcentres .stars{text-align: center;}
.coachingcentres .div{margin-left: 10%;}
.coachingcentres .li{ display: flex !important;}
.coachingcentres .link{margin-left: 16%}
.timeline .PostButton{box-shadow: 1px 2px 8px 0px black; border-radius: 1em !important;
                 background-color: rgb(124,109,174) !important; color: rgb(255,255,255) !important;}
.timeline .fontStyle{  font-size: 1em;font-style: italic;
                           font-weight: 100;letter-spacing: 0.1em;color: rgb(1,175,173)}
.timeline .messageStyle{   font-family: "Comic Sans MS",sans-serif;font-size:0.8em;letter-spacing: 0.08em;font-style: italic;font-weight: 50;
                             color: rgb(247,166,25)}
.QpSyllabusDefault {margin: 0 auto;padding: 1em;width: 55%;color: #333;border-radius: 2.8em; position: relative;top: 10%;
                               background: rgb(255,255,255);border-top: 30px solid #2196F3 ;height:30%;box-shadow: 1px 1px 1px 1px rgb(95, 87, 87);}
.RegisterContainer {margin: 0 auto;padding: 1em;width: 50%;color: #333;border-radius: 2.8em; position: relative;top: 10%;
  background: rgb(255,255,255);border-top: 30px solid #2196F3 ;box-shadow: 1px 1px 1px 1px rgb(95, 87, 87);}
.register{text-align: center;}
.register .previousButton{  margin-right: 15% !important;color: white!important; background-color: #2196F3 !important; border-radius: 1em !important;}
.register .nextButton {background-color: #2196F3 !important;color: white!important;border-radius: 1em!important;}
.intro .headline{font-size: 2em;font-family: "Comic Sans MS",sans-serif;font-weight: bold;text-align: center;
                 letter-spacing: 0.07em;color: rgb(51,138,150)}
.intro .subheading{text-align: center;font-family: "Comic Sans MS",sans-serif;letter-spacing: 0.03em;font-weight: 100;font-style: italic;
                   color:rgb(221,93,93);position: relative; bottom: 1.3em}
.intro .h4{text-align: center;font-family: "Chalkduster", fantasy,sans-serif;letter-spacing: 0.03em;font-weight: 100;font-style: normal;}
.intro .image{overflow: hidden; margin-bottom: 6%;border-radius: 20%;height: 16%;   width : 16%;margin-left: 40%}
.personalinfo .h4{margin-left: 2.5%;font-family: "Arial", sans-serif; font-weight: normal; color: #2196F3}
.personalinfo .RadioButtonGroup{margin-left: 2% !important; display: flex !important; flex-direction: row !important;}
.personalinfo .RadioButton{display: inline-block !important;}
.classdetails .h4{margin-left: 5%;font-family: "Arial", sans-serif; font-weight: normal; color: #2196F3}
.classdetails .textfield{margin-left: 5% !important;}
.Active{  background-color: #696969;}
.NotesUpload .uploadbutton{background-color: #2196F3 !important;color: white!important;border-radius: 1em!important;}
.NotesUpload .paragraph{text-align: center; font-family: "Comic Sans MS",sans-serif;font-size:1.2em;font-style: italic;font-weight: 100;
                         color: rgb(247,166,25);letter-spacing: 0.04em;}
.NotesUpload .Position{text-align: center;}
.NotesUpload .iframe{width:60%;height: 350px;}
.Unauthorized {margin-top: 5%;text-align: center;text-align: center;font-family: "Chalkduster", fantasy,sans-serif;letter-spacing: 0.03em;font-weight: 100;font-style: normal;}
.Unauthorized .backHome {color: white!important; background-color: #2196F3 !important; border-radius: 1em !important;}
.userQuestion{text-align: center;}
.NotesUpload .iframe{width:60%;height: 350px;}
.Notifications {width:70%;margin-left:15%;}
.HomePage {background: url("../styledcomponents/images/bgimage.jpg")no-repeat center center fixed;  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.question{font-weight: bolder;}
.studentAddaLogoContainer{color: rgba(0, 0, 0, 0.87);display: block;font-size: 16px;line-height: 16px;position: relative;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;margin-left: 0px;padding: 20px 16px 20px 72px;}
.studentAddaLogo{color: rgb(245, 124, 0);background-color: rgb(26, 35, 126);user-select: none;display: inline-flex;align-items: center;justify-content: center;font-size: 20px;border-radius: 50%;height: 40px;width: 40px;}
.bannerFirstChild{position: relative;margin-left: -24px;display: flex;justify-content: space-between;align-items: center;}
.bannerCompanyName{padding-right: 16px;line-height: 56px;font-size: 20px;font-family: Roboto, sans-serif;position: relative;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;color: rgb(255, 255, 255);}
.signupButtonDiv{color: rgba(0, 0, 0, 0.87);background-color: rgb(255, 255, 255);transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;box-sizing: border-box;font-family: Roboto, sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;border-radius: 2px;display: inline-block;min-width: 88px;}
.signUpButton{border: 10px;box-sizing: border-box;display: inline-block;font-family: Roboto, sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);cursor: pointer;text-decoration: none;margin: 0px;padding: 0px;outline: none;font-size: inherit;font-weight: inherit;position: relative;z-index: 1;height: 36px;line-height: 36px;width: 100%;border-radius: 2px;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;background-color: rgb(0, 188, 212);text-align: center;}
.signupButtonDiv2{height: 36px;border-radius: 2px;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;top: 0px;}
.signupButtonText{position: relative;opacity: 1;font-size: 14px;letter-spacing: 0px;text-transform: uppercase;font-weight: 500;margin: 0px;user-select: none;padding-left: 16px;padding-right: 16px;color: rgb(255, 255, 255);}
.UpdateProfile .button {margin-left: 40% !important;background-color: #2196F3 !important;color: white!important;border-radius: 1em!important;}


@media screen and (max-width: 630px) {

.studentAddaLogoContainer{color: rgba(0, 0, 0, 0.87);display: block;font-size: 16px;line-height: 16px;position: relative;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;margin-left: 0px;padding: 20px 5px 20px 20px;}
.studentAddaLogo{color: rgb(245, 124, 0);background-color: rgb(26, 35, 126);user-select: none;display: inline-flex;align-items: center;justify-content: center;font-size: 14px;border-radius: 50%;height: 27px;width: 27px;}
.bannerFirstChild{position: relative;margin-left: -24px;display: flex;justify-content: space-between;align-items: center;}
.bannerCompanyName{padding-right: 16px;line-height: 56px;font-size: 15px;font-family: Roboto, sans-serif;position: relative;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;color: rgb(255, 255, 255);}
.signupButtonDiv{color: rgba(0, 0, 0, 0.87);background-color: rgba(255, 255, 255, 0);transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;box-sizing: border-box;font-family: Roboto, sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;border-radius: 2px;display: inline-block;min-width: 88px;}
.signUpButton{border: 10px;box-sizing: border-box;display: inline-block;font-family: Roboto, sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);cursor: pointer;text-decoration: none;margin: 0px;padding: 0px;outline: none;font-size: inherit;font-weight: inherit;position: relative;z-index: 1;height: 36px;line-height: 36px;width: 100%;border-radius: 2px;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;background-color: rgb(0, 188, 212);text-align: center;}
.signupButtonDiv2{height: 36px;border-radius: 2px;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;top: 0px;}
.signupButtonText{position: relative;opacity: 1;font-size: 14px;letter-spacing: 0px;text-transform: uppercase;font-weight: 500;margin: 0px;user-select: none;padding-left: 16px;padding-right: 16px;color: rgb(255, 255, 255);}
.body{font-size: 12px;}
.html{font-size: 12px;}



}
